*{
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
#player{
    width:100%;
    height: 100%;
    display:none;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    padding:20px 0px;
}
#player .container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#back-n-love{
    width:100%;
    height:9%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#back,#love{
    width:40px;
    height:40px;
    border-radius:var(--round);
    background-color:var(--glass2);
    padding: 5px;
}
#musicbox-n-playrange{
    width:100%;
    height:81%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#musicbox{
    width:300px;
    height:300px;
    background-color: green;
    border-radius:var(--round-iii);
}
#song-n-author2{
    width: 100%;
    height:10vh;
    margin-bottom:20px;
    padding:0px 25px;
}
#song2{
    width:100%;
    height:70%;
    display: flex;
    align-items:flex-end;
    padding:5px 0px;
    font-size:var(--header-size-mini);
    font-weight:600;
}
#author2{
    width:100%;
    height:30%;
    display: flex;
    align-items:flex-start;
    padding:5px 0px;
}
#playrange{
    width:300px;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#startplay,#endplay{
    width:50px;
    height:100%;
    display:flex;
    align-items: center;
}
#startplay{
    justify-content: flex-start;
}
#endplay{
    justify-content: flex-end;
    padding-left:5px;
}
#range{
    -webkit-appearance:none;
    appearance: none;
    width:100px;
    flex:1;
    height:5px;
    background:rgba(255, 255, 255, 0.361);
    outline: none;
    overflow: visible;
    border-radius:15px;
}
#range::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    height:12px;
    width:12px;
    background:var(--accent);
    border-radius: 15px;
}
#range::-moz-range-thumb{

}
#playcontrols{
    width:100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:0px 25px;
}
.playcontrol{
    width:50px;
    height:50px;
    padding:10px;
    background-color: var(--glass2);
    border-radius:var(--round);
}
.playcontrol:hover{
    background-color: var(--glass);
}
#playtext{
    display: none;
    color: var(--accent);
}

@media only screen and (min-width:500px){
    #player .container{
        width:85%;
    }
    #playcontrols{
        padding:0% 20% 0% 20%;
    }
    #musicbox{
        width: 400px;
        height:400px;
    }
    #playrange{
        width:100%;
        padding:0px 40px;
    }
    #song-n-author2{
        padding:0px 40px;
    }
}
@media only screen and (min-width:1000px){
    #player{
        display: flex;
        background-color: var(--glass2);
        height:50%;
        width:100%;
        padding: 0px;
        border-radius: var(--round-iii);
        border:1px solid var(--accent);
    }
    .page{
        padding:0px;
    }
    #playcontrols{
        padding:0px;
        height:10%;
    }
    .playcontrol{
        width: 45px;
        height: 45px;
    }
    #playrange{
        width: 100%;
        padding: 0px;
    }
    #musicbox{
        display: none;
    }
    #back-n-love{
        justify-content: flex-start;
    }
    #musicbox-n-playrange{
        padding: 0px;
        margin: 0px;
        height:90%;
    }
    #song-n-author2{
        padding: 0px;
    }
    #love{
        display: none;
    }
    #player .container1{
        justify-content: center;
        align-items: center;
        padding:20px;
    }
    #playtext{
        display: flex;
    }
}