*{
    box-sizing:border-box;
    border:0px;
    margin: 0px;
    padding:0px;
}
#settings{
    width:100%;
    height:100%;
    display: none;
    flex-direction: column;
}
#allsettings{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:20px;
}
#theme{
    font-size:var(--header-size-iii);
    width:100%;
    height:120px;
    background-color:var(--glass2);
    border-radius:var(--round-ii);
}
.padded{
    padding:10px;
}
#account{
    font-size:var(--header-size-iii);
    width:100%;
    height:120px;
    background-color:var(--glass2);
    border-radius:var(--round-ii);
}