*{
    box-sizing: border-box;
    margin:0ax;
    border:0px;
    padding: 0px;
    font-family:Montserrat;
}
:root{
    --round: 50%;
    --round-i:5px;
    --round-ii:10px;
    --round-iii:15px;
    --round-iv:20px;
    --header-size-i:2rem;
    --header-size-ii:1.5rem;
    --header-size-iii:1.2rem;
    --normal-size:1rem;
    --header-size-mini:1.2rem;
    --liner:rgba(255, 255, 255, 0.121);
    --background:#0a0909;
    --text:rgba(255, 255, 255, 0.795);
    --glass:#ffffff25;
    --glass2:#ffffff09;
    --accent:#2ef45c;
}
html{
    max-height:750px;
}
body{
    height:100vh;
    width:100%;
    color:var(--text);
    background-color:var(--background);
    min-height:720px;
}
body::-webkit-scrollbar{
    width: 0px;
    height:0px;
}
button{
    outline:none;
}
input{
    overflow-y:hidden;
}
#current-playlist{
    width:100%;
    height:50%;
    background-color: var(--glass2);
    border-radius:var(--round-iii);
    margin-bottom:20px;
    /* border:1px solid #2ef45c2a ; */
    /* background:linear-gradient(var(--glass2),#2ef45c0f); */
}
img{
    width:100%;
    height:100%;
    pointer-events:none;
}
#copy{
    display: none;
}
.title{
    font-weight:bold;
}
#app .container, nav .container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
}
.container1{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    padding:20px 10px;
}
nav{
    width:100%;
    height:9%;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:var(--background);
    border-bottom:solid 1px var(--liner);
    position:sticky;
    top: -0%;
    left:0px;
    z-index:1000;
}
.navtext{
    display:none;
}
#searchdropdown{
    position:fixed;
    width:100%;
    top:0;
    height:80px;
    background-color:var(--background);
    border-bottom-left-radius:var(--round-iii);
    border-bottom-right-radius:var(--round-iii);
    display:none;
    align-items: flex-end;
    justify-content:center;
    padding:15px;
    transition:1s;
    transform:translateY(50px);
}
::-webkit-search-cancel-button{
    display:none;
}
#itemsearch{
    width:100%;
    height:40px;
    border:solid 1px white;
    outline:none;
    border-radius:var(--round-ii);
    background-color: transparent;
    color:var(--accent);
    padding:0px 10px;
}
nav .container{
    justify-content: space-between;
}
#logo{
    width:50px;
    height:50px;
    padding:10px 20px 10px 0px; 
}
#search-n-profile{
    width:auto;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
#search{
    width:200px;
    height:40px;
    position:relative;
    display: flex;
    justify-content: right;
    border-radius:var(--round-iv);
}
#searchbtn{
    width:40px;
    height:40px;
    border-radius:var(--round);
    cursor:pointer;
    padding:8px;
    background-color:var(--glass2);
}
#searchbar{
    width:1px;
    flex:1;
    height: 100%;
    border-top-left-radius: var(--round-iv);
    border-bottom-left-radius: var(--round-iv);
    background-color:transparent;
}
#profile{
    width:42px;
    height:42px;
    border-radius:var(--round);
    border:solid 2px var(--accent);
    background-color: var(--accent);
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    color:black;
    font-size:1.5rem;
}
#app{
    width:100%;
    height:82.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #app .container{
   
} */
aside{
    display:none;
    z-index:5;
}
#aside2{
    display: none;
}
main{
    width:100%;
    height:100%;
}
#home{
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}
#home .container{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
}
#greetings{
    height:5%;
    width:100%;
    display: flex;
    align-items: center;
    font-size:var(--header-size-iii);
}
.heading-n-slider{
    width:100%;
    height:32%;
}
.heading{
    width: 100%;
    height:20%;
    font-size:var(--header-size-iii);
    display: flex;
    align-items: center;
}
.slider{
    width:100%;
    height:90%;
    position: relative;
}
.scrollnext{
    display:none;
}
.slides{
    width: auto;
    height: 100%;
    align-items: center;
    display:flex;
    overflow-x:auto;
    gap:15px;
}
.slides::-webkit-scrollbar{
    width:0px;
    height:0px;
}
.slide, .slide img{
    width:120px;
    height:120px;
    border-radius:var(--round-iii);
    flex-shrink:0;
}
.singer{
    font-size: 0.6rem;
}
#playing{
    width:100%;
    height:15%;
    display: flex;
    border-radius:var(--round-iii);
    align-items: center;
    justify-content: center;
    background-color:var(--glass);
    padding:10px;
    border:solid 1px var(--accent);
    position:relative;
}
#play-one{
    width:33px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.283);
    border-radius:var(--round-ii);
    position: absolute;
    bottom: 8px;
    right: 8px;
}
#playingnow{
    position:absolute;
    width:120px;
    height:30px;
    background-color:var(--accent);
    border-radius:var(--round-i);
    border-bottom-right-radius:0px;
    border-top-right-radius:var(--round-iii);
    right:-1px;
    top:-8px;
    font-size:0.9rem;
    color:black;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#disc{
    height:55px;
    width:55px;
    background-color:var(--accent);
    border-radius:var(--round);
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
#song-n-author{
    width:auto;
    flex:1;
    height:100%;
    padding:10px;
}
#song{
    width:100%;
    height:50%;
    display: flex;
    align-items: flex-end;
}
#author{
    width:100%;
    height:50%;
    display: flex;
    align-items:flex-start;
}
#navigation{
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0px 20px;
    position:fixed;
    background-color:var(--background);
    bottom:0px;
    border-top:1px solid var(--liner)
}
.navbtn{
    width:50px;
    height:50px;
    border-radius:50%;
    padding:12px;
    background-color:var(--glass2);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.navactive{
    position: absolute;
    pointer-events: none;
    background-color:var(--glass);
    border-radius:50%;
    width: 100%;
    top:0px;
    left:0px;
    height:100%;

}
.navbtn:hover{
    background-color:var(--glass2);
}
#pointer{
    position:absolute;
    width:15px;
    height:15px;
    top:1px;
    right:1px;
    color:black;
    font-weight: bold;
    background-color:var(--accent);
    font-size:0.7rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:var(--round);
}


@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@keyframes slidedown{
    0%{transform:translateY(0px);}
    100%{transform:translateY(50px);}
}

/* for settings and notifications */
.pagetitle{
    width: 100%;
    height:10%;
    font-size:var(--header-size-i);
    display: flex;
    align-items: center;
}

@media only screen and (min-width:500px){
    #navigation{
        padding:0% 20% 0% 20%;
    }
    #song-n-author{
        padding:20px;
    }
    .slide, .slide img{
        width:150px;
        height:150px;
    }
    .slides{
        gap:22px;
    }
    .heading-n-slider{
        width:100%;
        height:30%;
    }
    #playing{
        padding:20px;
    }
    .heading{
        font-size: var(--header-size-i);
    }
    #greetings{
        font-size: var(--header-size-ii);
    }
    #navigation{
        height:90px;
    }
    #home .container{
        padding:5% 0%;
    }
}
@media only screen and (min-width:1000px){
    body{
        min-height:0px;
    }
    .navtext{
        display:block;
    }
    #home{
        height:100%;
        border-radius:var(--round-iii);
        margin-bottom:10px;
    }
    #greetings{
        font-size: var(--header-size-i);
        font-weight:normal;
        height:5%;
        position:relative;
    }
    .heading::after{
        content:" ";
        display: block;
        background-color:var(--accent);
        opacity:0.3;
        width:60px;
        position:absolute;
        left:0px;
        bottom:15%;
        height:22%;
        z-index: 5;
    }
    .heading-n-slider{
        width:100%;
        height:40%;
    }
    nav{
        height:9%;
    }
    #playing{
        display:none;
    }
    .heading{
        font-size: var(--header-size-iii);
        position: relative;
        height: 15%;
    }
    .slide, .slide img{
        width:105px;
        height:105px;
    }
    #app{
        width:100%;
        height:91%;
    }
    .slides{
        gap:20px;
    }
    #app .container{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding:0px;
    }
    .container1{
        justify-content: space-between;
        border-radius:var(--round-iii);
        padding: 0px;
    }
    #navigation{
        display: none;
    }
    aside{
        height:100%;
        width:18%;
        display: flex;
        padding:20px 0px 20px 20px;
    }
    #aside2{
        height:100%;
        width:27%;
        display: flex;
        padding:20px 20px 20px 0px;
    }
    #asidecontainer{
        width:100%;
        height:100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        background-color:var(--glass2);
        padding:90px 8px ;
        border-radius:var(--round-iii);
        /* border:1px solid #2ef45c2a ; */
        /* background:linear-gradient(var(--glass2),#2ef45c0b); */
    }
    #asidecontainer2{
        width:100%;
        height:100%;
        display: flex;
        flex-direction:column;
        padding-left:20px;
        border-radius:var(--round-iii);
    }
    main{
        height:100%;
        width:55%;
        padding:40px 0px 20px 20px;
        display: flex;
        flex-direction: column;
        border-radius:var(--round-iii);
    }
    .navbtn{
        width:100%;
        background-color: transparent;
        display:flex;
        padding:0px 10px;
        border-radius:var(--round-ii);
        justify-content:space-between;
        color:white;
    }
    .navbtn p{
        display: flex;
        flex:1;
        height:100%;
        align-items: center;
        padding:0px 10px;
        pointer-events:none;
    }
    .navbtn img{
        width:20px;
        height: 20px;
    }
    .navactive{
        border-radius:var(--round-ii);
    }
    .scrollnext{
        position: absolute;
        border-top-right-radius:var(--round-iii);
        border-bottom-right-radius:var(--round-iii);
        height: 100%;
        width:20px;
        background-color:var(--glass);
        right:0px;
        z-index:10;
        display:flex;
        justify-content: center;
        align-items: center;
        top:0px;
    }
    .scrollnext img{
        width:auto;
        height:auto;
    }
    .slider{
        background-color: var(--glass2);
        border-radius:var(--round-iii);
        /* border:1px solid #2ef45c2a ; */
/* background:linear-gradient(var(--glass2),#2ef45c0b); */
        padding:0px 20px;
    }
    .pagetitle{
        font-weight:normal;
    }
    #copy{
        display: block;
        width:100%;
        color:rgba(255, 255, 255, 0.36);
        height: 20px;
        margin-bottom: 20px;
    }
    #pointer{
        top:5px;
        left:90%;
        width:8px;
        height:8px;
        color:var(--accent);
        font-size:0px;
    }

}